<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://funclgtestcustomcertvalidation.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3005bdb8-47b7-4316-9277-a7a5e87f88e3/resourceGroups/rg-TestCustomCertValidation/providers/Microsoft.Web/sites/funclgtestcustomcertvalidation</ResourceId>
    <UserName>$funclgtestcustomcertvalidation</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://funclgtestcustomcertvalidation.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>